---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Page.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description}>
	<article class="article-md">
		<h1 class="text-3xl font-bold my-4">{title}</h1>
		<FormattedDate date={pubDate} />
		<img src={heroImage} alt="hero image" class="w-full my-4" />
		<slot />
	</article>
</Layout>
